header {
        height: 80px;
        background-image: url(black-1072366_1920.jpg);
        opacity: 0.4;

}

footer {
        height: 160px;
        background-image: url(black-1072366_1920.jpg);

}

.container {
        padding: 24px;
}